.navbar{
  height:80px;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:0 4rem;

  background:rgba(255,255,255,0.8);

  backdrop-filter:blur(30px);

  box-shadow:var(--shadow);

  position:sticky;

  top:0;

  z-index:1000;
}

.navbar-logo a{
  font-size:1.8rem;

  font-weight:700;

  letter-spacing:2px;

  color:var(--primary);

  font-family:Poppins,sans-serif;
}

.navbar-links{
  display:flex;

  gap:2rem;
}

.navbar-links a{
  color:var(--heading);

  font-weight:600;

  position:relative;

  transition:var(--transition);
}

.navbar-links a:hover{
  color:var(--primary);
}

.navbar-actions{
  font-weight:600;
}

.navbar-actions{
  display:flex;
  align-items:center;
  gap:1rem;
}

.nav-icon{
  background:none;
  border:none;
  cursor:pointer;

  position:relative;

  font-size:1.2rem;

  color:var(--heading);

  display:flex;

  align-items:center;

  justify-content:center;

  transition:var(--transition);
}

.nav-icon:hover{
  color:var(--primary);
  transform:translateY(-2px);
}

.navbar-links a::after{
  content:"";

  position:absolute;

  left:0;
  bottom:-6px;

  width:0;

  height:2px;

  background:var(--primary);

  transition:var(--transition);
}

.navbar-links a:hover::after{
  width:100%;
}

.cart-count{
  position:absolute;

  top:-8px;
  right:-10px;

  background:var(--primary);

  color:white;

  width:18px;
  height:18px;

  border-radius:50%;

  display:flex;

  align-items:center;

  justify-content:center;

  font-size:0.7rem;
}